.homeNav{
	position: absolute;
	right: 0px;
	width: 120px;
	padding: 10px;
	
}
.jumbotron {
	background-image: url("../Image/dogjumbotron.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.75;
}

