@charset "ISO-8859-1";

h2, p{
	color: black;
}

#myaccount {
	position: absolute;
	right: 0px;
	width: 300px;
	padding: 10px;
}
.homeNav{
	position: absolute;
	right: -580px;
	width: 120px;
	padding: 10px;
	
}
.btn-group{
	position: absolute;
	right: 180px;
	width: 120px;
	padding: 10px;
}

#cart {
	position: absolute;
	right: -300px;
	width: 120px;
	padding: 10px;
}


