#cart{
	position: absolute;
  	right: 0px;
  	width: 150px;
  	padding: 10px;
}

p#profilehead {
	padding: 10px;
	outline-style: solid;
	outline-color: #2D7CEA;
	background-color: #2D7CEA;
	color: white;
	font-family: "Lucida Console", Courier, monospace;
}
p#profile {
	padding: 10px;
	outline-style: solid;
	outline-color: #2D7CEA;
	font-family: "Lucida Console", Courier, monospace;
}

.btn-group{
	position: absolute;
	right: 180px;
	width: 120px;
	padding: 10px;
}

body{margin-top:20px;}

.container{
	position: absolute;
}

.badge.badge-primary {
    background-color: #0da9ef;
}
.with-badge .badge {
    position: absolute;
    top: 50%;
    right: 1.15rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.list-group-item i {
    margin-top: -4px;
    margin-right: 8px;
    font-size: 1.1em;
}
