<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Careers</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="../Style/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Nav bar for search bar, my account button, and shopping cart button -->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3071A9;">

		<a class="navbar-brand" href="home.html"> <img
			class="navbar-image" src="../images/logo3.png" alt="PawsCo"></a>

		<!-- Search Bar Form -->
		<form class="form-inline my-2 my-lg-0" action="products.html">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search" id="searchProductInput">
				<button class="btn btn-primary my-2 my-sm-0" type="submit"  id="searchButton">Search</button>
		</form>
		
		<!-- 		MyAccount button that will redirect to the My Account page -->
		<div class="btn-group">
  			<button type="button" class="MyAccountBtn btn btn-primary dropdown-toggle" 
  			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</button>
  
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="../Views/myAccount.html">Profile</a>
						<a class="dropdown-item" href="#">Orders</a> 
						<a class="dropdown-item" href="#">Wishlist</a>
						<a class="dropdown-item" href="#">Logout</a> 
					</div>
		</div>
		
		<!-- MyCart button to see what is in your cart -->
		<a id="cart" href="myCart.html"> <input type="image"
			src="../images/cart.png" alt="Submit" width="24" height="24">
		</a>

	</nav>

	<!-- Nav tag for second level selections for categories and home button -->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3071A9;">


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li id="home" class="btn btn-outline-primary waves-effect"
					style="width: 80px; height: 40px; margin: 5px; padding: 0px 1px"><a
					class="nav-link" href="#">Home <span class="sr-only">(current)</span>
				</a></li>

				<!-- Products button that will redirect to the products page -->
				<li id="product" class="btn btn-outline-primary waves-effect"
					style="width: 80px; height: 40px; margin: 5px; padding: 0px 1px">
					<a class="nav-link" href="products.html">Products</a>
				</li>
			</ul>
		</div>
	</nav>

	<div style="text-align: center">
		<br><h3>Careers</h3><br>
		<div style="width: 80%; display: inline-block; text-align: left">
			<h4>What Are You Looking For in a Career?</h4>
			<ul
				style="list-style-type: disc; margin: 0px; padding: 0px 15px 20px 35px; line-height: 32px;">
				<li>Exciting opportunities</li>
				<li>Career growth</li>
				<li>Friendly and supportive work environment</li>
				<li>Stability</li>
				<li>A workplace focused on ethics and obeying the law</li>
				<li>Great benefits</li>
			</ul>

			If you are an ambitious, energetic person who enjoys a fast-paced
			team environment filled with challenges and opportunities, you've
			come to the right place. Our successful employees are
			service-oriented people with integrity and commitment toward a common
			goal of excellence. Read on to discover how to pursue employment
			opportunities with us. Pawsco offers great jobs, great pay, great
			benefits and a great place to work.<br> <br> Merchandising
			is the lifeblood of Pawsco, and our business is centered on our
			warehouse operations. Most employees begin their careers in the
			warehouse setting, becoming experts in Pawsco merchandising and
			operations. The company also offers diverse career opportunities at
			our Home and Regional Offices in many other areas, such as
			Accounting, Buying, Marketing, Journalism, Information Systems, and
			Human Resources, to name a few. Additionally, Pawsco is dedicated to
			recognizing and rewarding employees for their hard work and loyalty.
			In fact, the majority of our management teams are promoted from
			within.<br> <br> Today we have Warehouse Managers and Vice
			Presidents who were once Stockers and Cashier Assistants or who
			started in clerical positions for Pawsco. We believe Pawsco's future
			executive officers are currently working in our locations, as well as
			in our Home and Regional Office.<br> <br>
			<hr>
			<h4>Warehouses, Depots and Other Businesses</h4>
			If you are interested in an hourly position at any of our existing
			locations (except Puerto Rico - see below), please <a href="#">apply
				online</a>. When you click on the link to apply, you will be redirected
			to our service provider's site. You are providing your information
			for your Pawsco application on this site. If your desired location is
			open for business but is not listed, you can apply at the location
			directly. (Currently other businesses include: Call Center, Pawsco
			Wholesale Trading, Packaging Plants, Meat Processing, and Business
			Delivery.)<br> <br> For Puerto Rico locations, please click
			here for either application: <a href="#">English</a> | <a href="#">Spanish</a><br>
			<br> If you are interested in employment at one of Pawsco's new
			locations that is still under construction, you should be able to
			apply online approximately 12 weeks prior to opening. Click on the
			link above, enter the nearest postal zip code to that location, and
			look for the listing. If the location is not listed, then the site is
			not yet accepting applications. We appreciate your interest and
			patience.<br> <br>
			<hr>
			<h4>Regional and Home Office Jobs</h4>
			Pawsco is committed to promoting from within the company. The
			majority of our current home and regional office team members are
			home grown. This means that they started in our warehouses, depots
			and business centers, learned the business and moved up within the
			company. This philosophy also ensures promotional opportunities for
			motivated individuals.<br> <br> Today, we have accountants,
			lawyers, buyers, and human resources personnel who began their
			careers as stockers or cashiers in our locations. We believe that
			Pawsco's future officers are currently working in our warehouses,
			depots, and business centers, as well as in our Home and Regional
			Offices.<br> <br> If this career path sounds challenging
			and exciting, we welcome you to apply. <a href="#">Click here for
				a list of typical jobs at Pawsco Wholesale and Pawsco's Home and
				Regional Offices</a>.<br> <br>
			<hr>
			<h4>Information Technology Opportunities</h4>
			Our home office, located in Issaquah, Washington, is also the site of
			our IT Division. Please click on <a href="#">Pawsco IT Jobs</a> for a
			list of our current openings. When you click on the link to apply,
			you will be redirected to our service provider's site. You are
			providing your information for your Pawsco application on this site.<br>
			<br>
			<hr>
			<h4>Pawsco Travel</h4>
			Pawsco Travel is a wholly owned fast growing subsidiary of Pawsco
			Wholesale and offers leisure travel services to Pawsco members in the
			United States, Canada and the United Kingdom. Our offices are
			adjacent to the Pawsco Wholesale corporate headquarters in Issaquah,
			Washington. We have a variety of IT and Travel Agent positions
			available. Please <a href="#">click here</a> to be redirected to our
			Job Listings. <br /> <br />
			<hr>
			<h4>Licensed Professions</h4>
			Pawsco provides excellent employment options for Licensed/Certified
			Opticians, and also offers leasing opportunities to Licensed
			Optometrists. Our optical departments consistently deliver an
			industry-leading level of service and value, and are staffed by
			trained professionals. If a career opportunity with Pawsco Optical
			interests you, please apply online for optician positions. For
			leasing opportunities, email Denise Mogil <a href="#">dmogil@Pawsco.com</a>.<br>
			<br> Pawsco is looking for Licensed Hearing Aid Dispensers and
			Dispensing Audiologists who want to build their careers with one of
			the largest independent hearing aid retailers in the United States.
			We have a need for full-time (40 hours per week) as well as part-time
			(24 hours per week) licensed professionals. For employment
			opportunities in our hearing aid centers, please send your resume to
			Tammy Miller <a href="#">tammymiller@Pawsco.com</a>.<br> <br>
			Pawsco is currently seeking Licensed Pharmacists to fill positions
			for pharmacy managers and full time, part time and relief/floating
			pharmacist positions. Pawsco ranks as one of the top 10 drug chains
			nationally and we currently operate more than 480 pharmacies,
			employing 1,800 pharmacists. For career opportunities, please <a
				href="#">apply online</a>.<br> <br>
			<hr>
			<h4>Pawsco Participates in the E-Verify System Nationwide</h4>
			Please click one of the following for more information regarding
			E-Verify<br> <a href="#">English</a> | <a href="#">Spanish</a><br>
			<br> Utah Applicants <a href="#">Click Here</a><br> <br>
			San Francisco Applicants <a href="#">Click Here</a><br> <br>
			<hr>
			<span style="font-size: 18px; line-height: 18px;"> More
				Information Concerning Diversity in Employment at Pawsco<br> <br>
			</span> <span
				style="font-size: 14px; padding: 0px 0px 4px 0px; display: block;">
				Pawsco is a diverse workforce and our mission is to create an
				environment of inclusion. It's who we are.<br> <br> For
				Equal Employment Opportunity Report <a href="#">Click Here</a><br>
				<br>
			</span>
			<div style="clear: both; height: 30px;"></div>
			<div style="clear: both; height: 30px;"></div>
			<div
				style="background-color: #f1f1f1; text-align: center; padding: 12px 0px 12px 0px; border: 1px solid #ccc; font-size: 18px;">
				Your Career Starts Here. <a href="#">Apply Now!</a>
			</div>
			<br>
			<br>
		</div>
	</div>

	<!-- Footer -->
	<footer class="page-footer font-small blue-grey lighten-5">

		<div style="background-color: #3071A9;">
			<div class="container">

				<!-- Grid row-->
				<div class="row py-4 d-flex align-items-center">

					<!-- Grid column -->
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0" style="color: white">Get connected with us
							on social networks!</h6>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-6 col-lg-7 text-center text-md-right"
						style="color: white">

						<!-- Facebook -->
						<a class="fb-ic" href="http://www.facebook.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-facebook-f white-text mr-4"> </i>
						</a>
						<!-- Twitter -->
						<a class="tw-ic" href="http://www.twitter.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-twitter white-text mr-4"> </i>
						</a>
						<!-- Youtube -->
						<a class="gplus-ic" href="http://www.youtube.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-youtube white-text mr-4"> </i>
						</a>
						<!--Linkedin -->
						<a class="li-ic" href="http://www.linkedin.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-linkedin-in white-text mr-4"> </i>
						</a>
						<!--Instagram-->
						<a class="ins-ic" href="http://www.instagram.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-instagram white-text"> </i>
						</a>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row-->

			</div>
		</div>

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">

			<!-- Grid row -->
			<div class="row mt-3 dark-grey-text">

				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Pawsco</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>We are committed to providing our members with the
						highest-quality pet products at the lowest possible pet prices.</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">About</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="aboutus.html">About Us</a>
					</p>
					<p>
						<a class="dark-grey-text" href="careers.html">Careers</a>
					</p>
					<p>
						<a class="dark-grey-text" href="userstories.html">User Stories</a>
					</p>
					<p>
						<a class="dark-grey-text" href="testimonials.html">Testimonials</a>
					</p>
					<p>
						<a class="dark-grey-text" href="press.html">Press</a>
					</p>
					<p>
						<a class="dark-grey-text" href="photos.html">Photos</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Help</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="payments.html">Payments</a>
					</p>
					<p>
						<a class="dark-grey-text" href="shipping.html">Shipping</a>
					</p>
					<p>
						<a class="dark-grey-text" href="cancellation&return.html">Cancellation & Returns</a>
					</p>
					<p>
						<a class="dark-grey-text" href="faq.html">FAQ</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fas fa-home mr-3"></i> Issaquah, WA 98027, US
					</p>
					<p>
						<i class="fas fa-envelope mr-3"></i> info@pawsco.com
					</p>
					<p>
						<i class="fas fa-phone mr-3"></i> (555) 555-5555
					</p>
					<p>
						<i class="fas fa-print mr-3"></i> (555) 555-5556
					</p>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center text-black-50 py-3">
			© 2020 Copyright: <a class="dark-grey-text" href="#!">Pawsco
				Wholesale Corporation</a>. All rights reserved.
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
	<script src="../Javascript/home.js"></script>
</body>
</html>