<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../Style/faq.css" rel="stylesheet" type="text/css" />
<link href="../Style/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>
<body>
	<!-- Nav bar for search bar, my account button, and shopping cart button -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<a class="navbar-brand" href="home.html"> <img
			class="navbar-image" src="../images/logo3.png" alt="PawsCo"></a>

		<!-- Nav tag for second level selections for categories and home button -->
		<nav class="homeNav navbar navbar-expand-lg navbar-light bg-light">


			<div class="homeNav collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li id="home" class="btn btn-outline-primary waves-effect"
						style="width: 80px; height: 40px; margin: 5px; padding: 0px 1px"><a
						class="nav-link" href="#">Home <span class="sr-only">(current)</span>
					</a></li>
				</ul>
			</div>
		</nav>
	</nav>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Frequently Asked Questions</h1>
			<p class="lead">Your wish is my command.</p>
		</div>
	</div>

	<div class="accordion" id="accordionExample">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#collapseOne" aria-expanded="true"
						aria-controls="collapseOne">Can I order pets in bulk?</button>
				</h2>
			</div>

			<div id="collapseOne" class="collapse"
				aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">We are not a puppy mill. We obey the
					law.</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h2 class="mb-0">
					<button class="btn btn-link collapsed" type="button"
						data-toggle="collapse" data-target="#collapseTwo"
						aria-expanded="false" aria-controls="collapseTwo">What is
						PawsCo return policy?</button>
				</h2>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
				data-parent="#accordionExample">
				<div class="card-body">Risk-Free 100% Satisfaction Guarantee
					On Membership: We guarantee your satisfaction on every product we
					sell, and will refund your purchase price.</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h2 class="mb-0">
					<button class="btn btn-link collapsed" type="button"
						data-toggle="collapse" data-target="#collapseThree"
						aria-expanded="false" aria-controls="collapseThree">Is
						PawsCo the same as Petsmart &amp; Petco?</button>
				</h2>
			</div>
			<div id="collapseThree" class="collapse"
				aria-labelledby="headingThree" data-parent="#accordionExample">
				<div class="card-body">Yes, we are very similar but we are
					number 1. Our customers always return.</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#collapseFour" aria-expanded="true"
						aria-controls="collapseFour">Does PawsCo price match with
						other retailers?</button>
				</h2>
			</div>

			<div id="collapseFour" class="collapse"
				aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">Please rest assured that your
					satisfaction is our top priority-that's why we're always working to
					bring you brand-name items at the lowest possible prices. However,
					because we already offer competitive prices at the point of
					purchase, we do not price match with other retailers.</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h2 class="mb-0">
					<button class="btn btn-link collapsed" type="button"
						data-toggle="collapse" data-target="#collapseFive"
						aria-expanded="false" aria-controls="collapseFive">Is the
						inventory on PawsCo.com live?</button>
				</h2>
			</div>
			<div id="collapseFive" class="collapse" aria-labelledby="headingTwo"
				data-parent="#accordionExample">
				<div class="card-body">The inventory on our website is
					real-time and updated frequently. If the item you’re looking for is
					not found on Costco.com, it's either not available online or
					currently out of stock. When the item is available for purchase
					again, it will re-appear on the site. The site is completely up to
					date, so we encourage you to check the site frequently for changes
					and updates.</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="page-footer font-small blue-grey lighten-5">

			<div style="background-color: #3071A9;">
				<div class="container">

					<!-- Grid row-->
					<div class="row py-4 d-flex align-items-center">

						<!-- Grid column -->
						<div
							class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
							<h6 class="mb-0" style="color: white">Get connected with us
								on social networks!</h6>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-6 col-lg-7 text-center text-md-right"
							style="color: white">

							<!-- Facebook -->
							<a class="fb-ic" href="http://www.facebook.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-facebook-f white-text mr-4"> </i>
							</a>
							<!-- Twitter -->
							<a class="tw-ic" href="http://www.twitter.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-twitter white-text mr-4"> </i>
							</a>
							<!-- Youtube -->
							<a class="gplus-ic" href="http://www.youtube.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-youtube white-text mr-4"> </i>
							</a>
							<!--Linkedin -->
							<a class="li-ic" href="http://www.linkedin.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-linkedin-in white-text mr-4"> </i>
							</a>
							<!--Instagram-->
							<a class="ins-ic" href="http://www.instagram.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-instagram white-text"> </i>
							</a>

						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row-->

				</div>
			</div>
			<!-- Footer Links -->
			<div class="container text-center text-md-left mt-5">

				<!-- Grid row -->
				<div class="row mt-3 dark-grey-text">

					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

						<!-- Content -->
						<h6 class="text-uppercase font-weight-bold">Pawsco</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>We are committed to providing our members with the
							highest-quality pet products at the lowest possible pet prices.</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">About</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
						<a class="dark-grey-text" href="aboutus.html">About Us</a>
					</p>
					<p>
						<a class="dark-grey-text" href="careers.html">Careers</a>
					</p>
					<p>
						<a class="dark-grey-text" href="userstories.html">User Stories</a>
					</p>
					<p>
						<a class="dark-grey-text" href="testimonials.html">Testimonials</a>
					</p>
					<p>
						<a class="dark-grey-text" href="press.html">Press</a>
					</p>
					<p>
						<a class="dark-grey-text" href="photos.html">Photos</a>
					</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Help</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<a class="dark-grey-text" href="payments.html">Payments</a>
						</p>
						<p>
							<a class="dark-grey-text" href="shipping.html">Shipping</a>
						</p>
						<p>
							<a class="dark-grey-text" href="cancellation&return.html">Cancellation & Returns</a>
						</p>
						<p>
							<a class="dark-grey-text" href="faq.html">FAQ</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Contact</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<i class="fas fa-home mr-3"></i> Issaquah, WA 98027, US
						</p>
						<p>
							<i class="fas fa-envelope mr-3"></i> info@pawsco.com
						</p>
						<p>
							<i class="fas fa-phone mr-3"></i> (555) 555-5555
						</p>
						<p>
							<i class="fas fa-print mr-3"></i> (555) 555-5556
						</p>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<!-- Copyright -->
			<div class="footer-copyright text-center text-black-50 py-3">
				© 2020 Copyright: <a class="dark-grey-text" href="#!">Pawsco
					Wholesale Corporation</a>. All rights reserved.
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
		<footer class="page-footer font-small blue-grey lighten-5">

			<div style="background-color: #3071A9;">
				<div class="container">

					<!-- Grid row-->
					<div class="row py-4 d-flex align-items-center">

						<!-- Grid column -->
						<div
							class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
							<h6 class="mb-0" style="color: white">Get connected with us
								on social networks!</h6>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-6 col-lg-7 text-center text-md-right"
							style="color: white">

							<!-- Facebook -->
							<a class="fb-ic" href="http://www.facebook.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-facebook-f white-text mr-4"> </i>
							</a>
							<!-- Twitter -->
							<a class="tw-ic" href="http://www.twitter.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-twitter white-text mr-4"> </i>
							</a>
							<!-- Youtube -->
							<a class="gplus-ic" href="http://www.youtube.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-youtube white-text mr-4"> </i>
							</a>
							<!--Linkedin -->
							<a class="li-ic" href="http://www.linkedin.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-linkedin-in white-text mr-4"> </i>
							</a>
							<!--Instagram-->
							<a class="ins-ic" href="http://www.instagram.com"
								style="color: inherit; text-decoration: none"> <i
								class="fab fa-instagram white-text"> </i>
							</a>

						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row-->

				</div>
			</div>
			<!-- Footer Links -->
			<div class="container text-center text-md-left mt-5">

				<!-- Grid row -->
				<div class="row mt-3 dark-grey-text">

					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

						<!-- Content -->
						<h6 class="text-uppercase font-weight-bold">Pawsco</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>We are committed to providing our members with the
							highest-quality pet products at the lowest possible pet prices.</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">About</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<a class="dark-grey-text" href="#!">About Us</a>
						</p>
						<p>
							<a class="dark-grey-text" href="#!">Careers</a>
						</p>
						<p>
							<a class="dark-grey-text" href="#!">User Stories</a>
						</p>
						<p>
							<a class="dark-grey-text" href="#!">Testimonials</a>
						</p>
						<p>
							<a class="dark-grey-text" href="#!">Press</a>
						</p>
						<p>
							<a class="dark-grey-text" href="#!">Photos</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Help</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<a class="dark-grey-text" href="#!">Payments</a>
						</p>
						<p>
							<a class="dark-grey-text" href="#!">Shipping</a>
						</p>
						<p>
							<a class="dark-grey-text" href="#!">Cancellation & Returns</a>
						</p>
						<p>
							<a class="dark-grey-text" href="faq.html">FAQ</a>
						</p>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Contact</h6>
						<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<i class="fas fa-home mr-3"></i> Issaquah, WA 98027, US
						</p>
						<p>
							<i class="fas fa-envelope mr-3"></i> info@pawsco.com
						</p>
						<p>
							<i class="fas fa-phone mr-3"></i> (555) 555-5555
						</p>
						<p>
							<i class="fas fa-print mr-3"></i> (555) 555-5556
						</p>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<!-- Copyright -->
			<div class="footer-copyright text-center text-black-50 py-3">
				© 2020 Copyright: <a class="dark-grey-text" href="#!">Pawsco
					Wholesale Corporation</a>. All rights reserved.
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
		<script src="../Javascript/home.js"></script>
</body>
</html>