<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link href="../Style/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="row row-cols-1 row-cols-md-3">
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/nulo.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Nulo FreeStyle Limited+</h4>
					<!--Text-->
					<p class="card-text">Have a dog with food sensitivities? Try
						our FreeStyle Limited+ Puppy & Adult Salmon recipe, which includes
						patented probiotic GanedenBC30. This probiotic improves digestive
						and immune health to keep your canine happy and healthy. This
						single-source protein recipe is made without chicken, chicken fat,
						eggs, peas, pea fiber, white potato or tapioca, which cuts out a
						lot of potential allergens allowing your dog to get back to basics
						when it comes to nutrition.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/blue.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Blue Buffalo</h4>
					<!--Text-->
					<p class="card-text">Real beef, chicken, fish, lamb or turkey
						dinners made from natural ingredients enhanced with vitamins and
						minerals, they're rich in taste and healthy nutrition.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/dental.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Kirkland Signature Dental Chews,
						72-count</h4>
					<!--Text-->
					<p class="card-text">Every dog deserves clean teeth! Grain-free
						and gluten-free dental chews are safely digestible, with no
						artificial colors, flavors or preservatives. The chews are
						two-sided, with a groove and multiple levels of ridges and nubs to
						help clean teeth and reduce plaque and tartar from a variety of
						angles: the easy "paw-grip" handle is designed to work with your
						dog's natural, instinctive chewing style.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/kong.png"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">KONG Classic Dog Toy, X-Large</h4>
					<!--Text-->
					<p class="card-text">The KONG Classic is the gold standard of
						dog toys and has become the staple for dogs around the world for
						over forty years. Offering enrichment by helping satisfy dogs'
						instinctual needs, the KONG Classic's unique all-natural red
						rubber formula is ultra-durable with an erratic bounce that is
						ideal for dogs that like to chew while also fulfilling a dog's
						need to play. Want to extend play time? Be sure to stuff with
						tempting bits of kibble and entice with a dash of peanut butter.
						Add to the funs by adding KONG Snacks and topping with KONG Easy
						Treat.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/starwars.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">STAR WARS Darth Vader Rope Dog Toy,
						Large</h4>
					<!--Text-->
					<p class="card-text">The Star Wars Darth Vader Rope Dog Toy
						gets your pup excited to chase him across the galaxy during
						spirited games of fetch with a loud and exciting squeak. A black
						and silver braided rope provides a satisfying and beneficial
						texture to chew on.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/deadpool.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Marvel Deadpool Rubber Dog Toy, Small</h4>
					<!--Text-->
					<p class="card-text">The Marvel Deadpool Rubber Dog Toy is
						geared up and ready to rally your dog's love for tugging and
						chasing. A satisfying rubber texture, the soft plush of the
						red-suited X-Man trainee and a captivating squeaker load up this
						dog toy for alluring playtime fun.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/raincoat.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Rain Coat</h4>
					<!--Text-->
					<p class="card-text">Imagine how great your dog will feel
						wearing a waterproof rain jacket that really fits well. Voyagers
						K9 Apparel stitches quality and style together so your dog gets
						outdoors in a rain coat with long-lasting comfort. Easy to put on
						and keep on, our lightweight rain jacket blocks wind and rain so
						well that you and your dog will be a happier pair! For safety's
						sake, we've added reflective piping along the raincoat's lower
						edge to draw attention to your dog in dark or dreary conditions.
						If your dog needs a comfortable rain jacket that fits, order
						today...your pup will thank you!</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/sweater.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Sweater</h4>
					<!--Text-->
					<p class="card-text">Fall will be your pup's favorite season
						when they get to wear this comfortable Combed Cotton Cable Knit
						Dog Sweater by Doggie Design in Oatmeal!</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
			<!-- Card -->
		</div>
		<div class="col mb-4">
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="../Image/winterjacket.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card content-->
				<div class="card-body">

					<!--Title-->
					<h4 class="card-title">Winter Jacket</h4>
					<!--Text-->
					<p class="card-text">Easy to put on - very cozy and warm, full
						coverage, waterproof, attractive and appears well made.
						Adjustable, side snap closures that make it easy to tailor its
						fit. Warm and water resistant. The straps that attach to the back
						legs hold the coat in place during walks. Great fit, easy on and
						off as well as the fleece lining. Bring it for your pet in Winter!
						Let her/him feels warm and comfy.</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<button type="button" class="btn btn-light-blue btn-md">Read
						more</button>

				</div>

			</div>
			<!-- Card -->
		</div>
	</div>
</body>
</html>