<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Wishlist</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="../Style/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="../Javascript/wishlist.js"></script>

</head>
<body>
	<!-- Nav bar for search bar, my account button, and shopping cart button -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<a class="navbar-brand" href="home.html"> <img
			class="navbar-image" src="../images/logo3.png" alt="PawsCo"></a>

		<!-- Search Bar Form -->
		<form class="form-inline my-2 my-lg-0" action="products.html">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search" aria-label="Search" id="searchProductInput">
			<button class="btn btn-primary my-2 my-sm-0" type="submit"
				id="searchButton">Search</button>
		</form>

		<!-- 		MyAccount button that will redirect to the My Account page -->
		<div class="btn-group">
			<button type="button"
				class="MyAccountBtn btn btn-primary dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My
				Account</button>

			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="myAccount.html">Profile</a>
				<a class="dropdown-item" href="#">Orders</a> <a
					class="dropdown-item" href="wishlist.html">Wishlist</a> <a
					class="dropdown-item" href="#">Logout</a>
			</div>
		</div>

		<!-- MyCart button to see what is in your cart -->
		<a id="cart" href="myCart.html"> <input type="image"
			src="../images/cart.png" alt="Submit" width="24" height="24">
		</a>
		<!-- Nav tag for second level selections for categories and home button -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">


			<div class="homeNav collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				<!-- MyCart button to see what is in your cart -->
				<li id="cart" class="btn btn-outline-primary waves-effect"
						style="width: 80px; height: 40px; margin: 5px; padding: 0px 1px">
						<a class="nav-link" href="myCart.html">Cart</a>
					</li>
					<li id="home" class="btn btn-outline-primary waves-effect"
						style="width: 80px; height: 40px; margin: 5px; padding: 0px 1px"><a
						class="nav-link" href="home.html">Home <span class="sr-only">(current)</span>
					</a></li>

					<!-- Products button that will redirect to the products page -->
					<li id="product" class="btn btn-outline-primary waves-effect"
						style="width: 80px; height: 40px; margin: 5px; padding: 0px 1px">
						<a class="nav-link" href="products.html">Products</a>
					</li>
				</ul>
			</div>
		</nav>
	</nav>

	<div class="container bootstrap snippet" style="padding-bottom: 40px">
		<div class="col-md-9 col-sm-8 content">

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info panel-shadow">
						<div class="panel-body">
							<div class="table-responsive" id="wishlistDiv"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	<button id="test">TEST</button> -->


	<!-- Footer -->
	<footer class="page-footer font-small blue-grey lighten-5">

		<div style="background-color: #3071A9;">
			<div class="container">

				<!-- Grid row-->
				<div class="row py-4 d-flex align-items-center">

					<!-- Grid column -->
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0" style="color: white">Get connected with us
							on social networks!</h6>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-6 col-lg-7 text-center text-md-right"
						style="color: white">

						<!-- Facebook -->
						<a class="fb-ic" href="http://www.facebook.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-facebook-f white-text mr-4"> </i>
						</a>
						<!-- Twitter -->
						<a class="tw-ic" href="http://www.twitter.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-twitter white-text mr-4"> </i>
						</a>
						<!-- Youtube -->
						<a class="gplus-ic" href="http://www.youtube.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-youtube white-text mr-4"> </i>
						</a>
						<!--Linkedin -->
						<a class="li-ic" href="http://www.linkedin.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-linkedin-in white-text mr-4"> </i>
						</a>
						<!--Instagram-->
						<a class="ins-ic" href="http://www.instagram.com"
							style="color: inherit; text-decoration: none"> <i
							class="fab fa-instagram white-text"> </i>
						</a>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row-->

			</div>
		</div>

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">

			<!-- Grid row -->
			<div class="row mt-3 dark-grey-text">

				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Pawsco</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>We are committed to providing our members with the
						highest-quality pet products at the lowest possible pet prices.</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">About</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="aboutus.html">About Us</a>
					</p>
					<p>
						<a class="dark-grey-text" href="careers.html">Careers</a>
					</p>
					<p>
						<a class="dark-grey-text" href="userstories.html">User Stories</a>
					</p>
					<p>
						<a class="dark-grey-text" href="testimonials.html">Testimonials</a>
					</p>
					<p>
						<a class="dark-grey-text" href="press.html">Press</a>
					</p>
					<p>
						<a class="dark-grey-text" href="photos.html">Photos</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Help</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="payments.html">Payments</a>
					</p>
					<p>
						<a class="dark-grey-text" href="shipping.html">Shipping</a>
					</p>
					<p>
						<a class="dark-grey-text" href="cancellation&return.html">Cancellation & Returns</a>
					</p>
					<p>
						<a class="dark-grey-text" href="faq.html">FAQ</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fas fa-home mr-3"></i> Issaquah, WA 98027, US
					</p>
					<p>
						<i class="fas fa-envelope mr-3"></i> info@pawsco.com
					</p>
					<p>
						<i class="fas fa-phone mr-3"></i> (555) 555-5555
					</p>
					<p>
						<i class="fas fa-print mr-3"></i> (555) 555-5556
					</p>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center text-black-50 py-3">
			© 2020 Copyright: <a class="dark-grey-text" href="#!">Pawsco
				Wholesale Corporation</a>. All rights reserved.
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
	<script src="../Javascript/home.js"></script>
</body>
</html>